<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
>

    <context:annotation-config/>
    <context:component-scan base-package="cz.zcu.pia.revoloot.**.*"/>

    <!-- JPA and Transactions -->

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" destroy-method="destroy">
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml"/>
        <property name="jpaVendorAdapter" ref="hibernateVendorAdapter"/>
        <property name="packagesToScan" value="cz.zcu.pia.revoloot.**.entities"/>
        <!-- TODO change to production -->
        <property name="persistenceUnitName" value="cz.zcu.pia.revoloot"/>
    </bean>

    <bean id="hibernateVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <!-- Transaction manager for a single EntityManagerFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="gmailConnector" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="username" value="pia.revolution.loot@gmail.com" />
        <property name="password" value="abc432EFG" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.user">pia.revolution.loot@gmail.com</prop>
                <prop key="mail.password">abc432EFG</prop>
                <prop key="mail.host">smtp.gmail.com</prop>
                <prop key="mail.port">587</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
            </props>
        </property>
    </bean>

    <security:authentication-manager id="authManager">
        <!-- use UserDaoJpa as user data provider-->
        <security:authentication-provider user-service-ref="userDAO">
            <!-- use PasswordHashEncoder as password encoder -->
            <security:password-encoder ref="passwordHashEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <security:global-method-security pre-post-annotations="enabled"/>

    <task:annotation-driven />
</beans>
