:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html{
    height: 100%;
}

.page-link{
    color: black;
}

.page-link:hover{
    color: #333;
}

body{
    height: 100%;
    padding-top: 60px;
    background-color: #f5f5f5;
}

.body-title {
    height: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile{
    background-color: #fff;
    height: 250px;
}

.product{
    border-radius: 4px;
}

.main-product{
    background-color: #777;
}

.product-1{
    background-color: #999;
}

.product-2{
    background-color: #ddd;
}

.content {
    padding-bottom: 40px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 25px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer-std{
    position: relative;
}

.container {
    max-width: 960px;
}

/*
 * CSS MONEY element
 */

.money {
    position: absolute;
    right: 20%;
    top: 45%;
    width: 150px;
    height: 250px;
    border-radius: 2px;
    background-color: #197a19;

   -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.money::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2px;
}

.money-center {
    position: relative;
    top: 75px;
    right: 25px;
    bottom: 100px;
    left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
}

/* FORM ELEMENTS */

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
